---
# Only the main Sass file needs front matter (the dashes are enough)
---
// This improves the cosmetic appearance of the carets in the navigation

@import "../_includes/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "base/variables";
@import "base/grid-settings";
@import "base/navigation-settings";

header.navigation {
	li.more.nav-link {
		padding-right: 0;

		> ul > li:first-child a  {
			@include media($horizontal-bar-mode) {
				padding-top: 1em;
			}
		}

		a {
			text-align: left;
		}

		> a {
			@include media($horizontal-bar-mode) {
				margin-right: 0;
				padding-right: $navigation-submenu-padding + 18px;
				&:after {
					content: '\25BE';
					color: $navigation-color;
					@include position(absolute, 0 0.5em  auto auto);
				}
			}
		}
	}
}
