<form id="contact-form" action="https://formspree.io/info@rscottillustration.co.uk" method="post">
<div class="form-item form-textfield"><label>Email </label><input type="text" name="email" placeholder="youremail@email.com"></div>
<div class="form-item form-textfield"><label>Name </label><input type="text" name="_subject" placeholder="Your Name"></div>
<div class="form-item form-textarea"><label>Your message </label><textarea name="message" cols="40" rows="5"></textarea></div>
<div class="form-item form-checkbox"><input type="checkbox" name="subscribe" value="mailchimp_opt_in">Get email updates from Richard Scott Illustration</div>
<input type="text" name="gotcha" style="display:none">
<input type="hidden" name="_next" value="/thankyou" />
<br />
<div class="form-item form-submit"><input class="red" type="submit" value="Send Message"></div>
</form>