<div class="profiles">
{% for profile in site.data.profiles %}
<div class="profile">
<div class="profile-img"><img src="{{ site.baseurl }}{{ profile.img }}"></div>
<div class="profile-content">
{% if profile.name != null%}<h3>{{ profile.name }}</h3>{% endif %}
{% if profile.role != null%}<div class="field role">{{ profile.role }}</div>{% endif %}
{% if profile.website != null%}<div class="field website"><a href="{{ profile.website }}">{{ profile.website }}</a></div>{% endif %}
{% if profile.twitter != null%}<div class="field twitter"><a href="http://www.twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</div>{% endif %}
{% if profile.email != null%}<div class="field email"><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>{% endif %}
{% if profile.bio != null%}<div class="field bio">{{ profile.bio }}</div>{% endif %}
{% if profile.url != null%}<div class="field url"><a class="button" href="{{ profile.url }}">Find out more</a></div>{% endif %}
</div></div>
{% endfor %}
</div>