.footer {
  $base-spacing: 1.5em !default;
  $footer-background: lighten($light-gray, 20%);
  $footer-color: desaturate(darken($footer-background, 40%), 50%);
  $footer-link-color: desaturate(darken($footer-background, 60%), 70%);
  $footer-disclaimer-color: desaturate(darken($footer-background, 40%), 50%);
  background: $footer-background;
  padding-top: $gutter;
  margin-top: $gutter;
  border-top: 1px solid darken($navigation-background, 15%);
  

  .footer-links {
  
  &.footer-about-content {
	padding: $gutter;
  	@include fill-parent;
	@include media($tablet) {
		@include span-columns(8 of 8)
	}
	@include media($desktop) {
		@include span-columns(6 of 12)
	}
	p, a {
		font-size: 0.8em;
	}
  }
  
  &.footer-links-social {
	  
	  li {
		  margin-bottom: 0.8em;
	  a {
		  background-repeat: no-repeat;
		  padding-left: 34px;
		  padding-top: 0.1em;
		  padding-bottom: 0.1em;
		  @include transition(all 0.2s ease-in-out);
	  }
  }
	  
	  .twitter-link {
		  background-image: url(/img/ui/twitter-icon.png);
		  &:hover {
		  	background-image: url(/img/ui/twitter-icon-hover.png);
		  };
	  }
	  .instagram-link {
		  background-image: url(/img/ui/instagram-icon.png);
		  &:hover {
		  	background-image: url(/img/ui/instagram-icon-hover.png);
		  };
	  }
	  .facebook-link {
		  background-position: 4px center;
		  background-image: url(/img/ui/facebook-icon.png);
		  &:hover {
		  	background-image: url(/img/ui/facebook-icon-hover.png);
		  };
	  }
  
  }
  
  &.footer-links-social, &.footer-links-content {
	padding: $gutter;
  	@include fill-parent;
	@include media($tablet) {
		@include span-columns(4 of 8)
	}
	@include media($desktop) {
		@include span-columns(3 of 12)
	}
  }


  ul {
	  font-size: 0.8em;
	  padding-left: 0;
    margin-bottom: $base-spacing * 2;
  }

  li {
    line-height: 1.5em;
    list-style: none;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $brand-primary;
    }
  }
    }

  .footer-copyright {
	  		font-size: 0.8em;
	  a {
	  	color: $footer-link-color;
	  }
    padding: $gutter;
    clear: both;
    width: 100%;
    color: $footer-disclaimer-color;
    line-height: 1.5em;
    margin: auto;
  }
}