aside.meta-info {
	font-weight: 700;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	position: relative;
	margin-bottom: $gutter;
	
	p.date {
		color: transparentize($base-font-color, 0.4);
		font-family: $serif;
		margin-bottom: 0.3em;
	}
	
	.type {
		padding: 0;
		a {
			border-bottom: 2px solid $brand-primary;
			display: inline-block;
			font-family: $sans-serif;
			margin-bottom: 1em;
			padding: 0.8em 0 0 0;
			text-align: left;
			text-transform: uppercase;
			&:hover, &:focus {
				text-decoration: none;
				border-bottom: 2px solid darken($brand-primary, 10%);
			}
		}
	}
	
	p {
		font-size: 0.8em;
		padding-top: 1em;
		float: left;
		margin-bottom: 0;
		margin-right: $gutter;
		@include media($desktop) {
			float: none;
		}
	}
@include media(355px) {
	height: 60px;
}
	
	@include media($desktop) {
		border: none;
		padding: $gutter;
	}
	
	ul {
		display: block;
		clear: both;
		height: 40px;
		padding-left: 0;
		@include media(355px) {
		clear: none;
		float: right;
		display: block;
		padding-left: 0;
		}
		@include media($desktop) {
			float: none;
		}
		li {
			padding-left: 0;
			margin-right: 3px;
			float: left;
			&:before {
				content: none;
			};
		}
		list-style: none;
	}

	a.tweet, a.email, a.fbshare {
		@include transition(all 0.2s ease-in-out);
		border: 1px solid $light-gray;
		border-radius: 1000px;
		width: 35px;
		height: 35px;
		margin-top: 10px;
		display: block;
		@include hide-text;
		background-position: center center;
		background-repeat: no-repeat;
		&:hover, &:focus {
			border: 1px solid $brand-primary;
		};
	}

	a.tweet {
		background-image: url(/img/ui/twitter-icon.svg);
		background-size: 20px 20px;
		.no-svg & {
			background-image:url('#{"" + $image-directory}/ui/twitter-icon.png');
		}
		&:hover, &:focus {
			background-image: url(/img/ui/twitter-icon-hover.svg);
			.no-svg & {
				background-image:url('#{"" + $image-directory}/ui/twitter-icon-hover.png');
			}
		}
	}

	a.email {
		background-image: url(/img/ui/mail-icon.svg);
		.no-svg & {
			background-image:url('#{"" + $image-directory}/ui/mail-icon.png');
		}
		background-size: 20px 20px;
		&:hover, &:focus {
			background-image: url(/img/ui/mail-icon-hover.svg);
			.no-svg & {
				background-image:url('#{"" + $image-directory}/ui/mail-icon-hover.png');
			}
		}
	}

	a.fbshare {
		background-image: url(/img/ui/facebook-icon.svg);
		.no-svg & {
			background-image:url('#{"" + $image-directory}/ui/facebook-icon-hover.png');
		}
		background-size: 10px 20px;
		&:hover, &:focus {
			background-image: url(/img/ui/facebook-icon-hover.svg);
			.no-svg & {
				background-image:url('#{"" + $image-directory}/ui/facebook-icon-hover.png');
			}
		}
	}

}