.teaser-wrapper {
	transition: all 1s ease-in-out;
	>div {
		padding-bottom: percentage(1.41421356237/1);
		width: 100%;
		position: relative;
	}
	.teaser {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		text-align: center;
		box-shadow: 0 2px 4px darken($base-background-color, 10%);
		background: white;
		border: 1px solid $light-gray;
		overflow: hidden;
		
		h4 {
			font-size: $base-font-size;
			padding-left: 10%;
			padding-right: 10%;
			line-height: 1.2em;
			a:hover, a:focus {
				text-decoration: none;
			};
		}
		
		.type {
			border-bottom: 2px solid $brand-primary;
			display: inline-block;
			font-family: $sans-serif;
			margin-bottom: 1em;
			font-size: modular-scale(-2);
			padding: 10% 0 0em 0;
			text-align: left;
			text-transform: uppercase;
		}
		
		span {
			color: darken($medium-gray, 30%);
			font-size: 0.8em;
		}
		> img {
			width: 100%;
			height: auto;
			@include transition(all  0.3s ease-in-out);
		}
		&:hover, &:focus {
			text-decoration: none;
		}
		&:hover img, &:focus img {
			opacity: 0.6;
			transform: scale(1.1);
		}
		&:hover .type, &:focus .type {
		border-color: darken($brand-primary, 10%);	
		}
		
		&.red {
			background: $red;
			color: $white;
			.type {
				border-bottom: 2px solid $white;
			}
		}
	}
	@include media($mobile) {
		padding-left: $gutter;
		padding-right: $gutter;
		padding-bottom: $gutter;
	}

	// Same logic for tablets.
	@include media($tablet) {
		width: flex-grid(4, 8);
		padding-right: 0;
		float: left;
	}

	@include media($desktop) {
		width: flex-grid(4, 12);
	}
}