// Navigation Settings

$base-border-color: gainsboro !default;
$base-border-radius: 0 !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(700) !default;
$navigation-padding: 18px;
$navigation-background: $base-background-color;
$navigation-color: $base-font-color;
$navigation-color-hover: white;
$navigation-height: 90px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: $brand-primary;
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-menu-button-image-height: 21px;
$navigation-search-background: #fff;
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 20px;
$navigation-submenu-width: 14em;
$navigation-font-weight: normal;
$horizontal-bar-mode: $desktop;
$logo-image-height: 130px;
$logo-image-width: 588px;
$small-screen: em($gutter + $logo-image-width + $navigation-height + $navigation-height);
$tiny-screen: em(320px);